
@model List<FinalLiftOff.Models.Meals>

<h1>This will display only one meal, also will only show the one meal that you add</h1>

<br />
<br />
<br />




<h1>What are you cooking!</h1>

    <table class="table">
        <tr>
            <th>Price</th>
            <td>@Model.Price</td>
        </tr>
        <tr>
            <th>Meal</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.Description</td>

        </tr>
        <tr>
            <th>Dietary Restriction</th>
            <td>Chosen Restrictions</td>
        </tr>


    </table>


<a asp-controller="Meals" asp-action="Order" asp-route-id="Order">Order Now</a>