@page
@{
}

<div class="text-center">
    <h1 class="display-4">Nourish</h1>
    <p>Learn what it means to be <a href="/About">Nourished</a></p>
</div>


<p>
    Nourish:
    <br />
    provide with the food or other substances necessary for growth, health, and good condition.
</p>