@page
@{
}

@*<div class="text-center">
    <h1 class="display-4">Nourish</h1>
    <p>Learn what it means to be <a href="/About">Nourished</a></p>
</div>*@
<head>
    <link rel="stylesheet" href="~/CSS/About.css">
</head>


<h1>Nourish</h1>
    
    <br />
    <p>provide with the food or other substances necessary for growth, health, and good condition.

</p>
<br />
<br />

<p> Welcome to Nourish. Between working, running errands, picking up the kids, and going to the gym, when do you have time to cook a fresh meal? PostMates and DoorDash can give you whatever you need from local stores or resturaunts but what if you're craving those fresh ingredients and have specific dietary restrictions? Maybe you want to try a new cuisine and looking for those real family recipies passed down through generations. Nourish gives you the opportunity to order meals just like this and delivers them right to your home.

  Nourish also welcomes users to offer meals from their own kitchen. Everyone has a favorite meal they make why
    wouldn't you want to share that with others? It's here you can experience both sides of nourishment.  </p>