@{
    ViewData["Title"] = "Nourish";
}



<div class="text-center">
    <h1 class="display-4">Nourish</h1>
    <p>Learn what it means to be <a asp-controller="Home" asp-action="About" asp-route-id="About">Nourished</a></p>
</div>

